*{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Manrope";
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../assets/Photos/mainBackground.png');
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  background-repeat:    no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #ffffff;
}
hr{
    margin:1rem 7rem 0rem 7rem;
}
nav{
    margin:0rem 7rem 2rem 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
    /* justify-items: space-around; */
    justify-content: space-between;
    padding:20px 0px;
    z-index: -1;
}
nav img{
    margin-top: 1rem;
    height: 45px;
    
}
ul{
    margin-top: 40px;
    list-style: none;
    display: flex;
    font-size:large;
    gap:2rem;
}
li{
    display: flex;
    /* justify-items: space-around; */
    /* justify-content: space-between;   */
   
}
a{
 text-decoration: none;
 color: #ffffff;
}
.nav-content{
   margin:8rem 0rem 0rem 8rem;
}

.nav-content h1{
    font-size: 70px;
}
.nav-content p{
    font-size: 20px;
}

.nav-btn{
    margin-top: 1rem;
    background-color: #6663e9;
    border:none;
    border-radius: 30px;
    padding:10px 30px;
    font-size: 18;
    font-weight: 900;
    color:white
}

.logos{
    margin:-2rem 2rem 0rem 2rem;
    background-color: #ffffff;
    height: 10%;
    position: absolute;
    z-index: 1;
}



